ズルい線 ↓

<hr class="zurui">

<h1>ズルい文字</h1>

<div class="zurui-moji">
  背景色 #333
</div>

<div class="zurui-back">
ズルい背景<br/>
ずるい文字<br/>
ずるい背景
</div>

<div class="zurui-gra">
ずるいグラデーション<br/>
ずるいグラデーション<br/>
ずるいグラデーション<br/>
ずるいグラデーション<br/>
ずるいグラデーション<br/>
ずるいグラデーション<br/>
ずるいグラデーション
</div>

<div class="zurui-maru">
ずるい角丸<br/>
ずるい角丸<br/>
ずるい角丸<br/>
ずるい角丸<br/>
ずるい角丸<br/>
ずるい角丸
</div>

<div class="zurui-box">
ずるい角丸<br/>
ずるい角丸<br/>
ずるい角丸<br/>
ずるい角丸<br/>
ずるい角丸<br/>
ずるい角丸
</div>

<div class="apply">
角丸 + グラデ + box-shadow
</div>
