<header>
  <h1>yono.cc</h1>
</header>

<div class="category">
  <div class="title">compass 使って CSS 書いてみた <span class="arrow"></span></div>

  <div class="entry">
    <p>この記事は全体的に compass という SCSS のヘルパー？を使って生成してます。</p>
    <p>タイトル部分は最近はやりの bootstrap っぽくしてますが、実際はスクロール時に追随してこないので似非です。</p>
    <p>記事タイトル部分は http://coliss.com/articles/build-websites/operation/css/css-tutorial-fold-effect-without-images.html を使っております。パクリとも言います。</p>
  </div>
</div>

<div class="category">
  <div class="title">compass 使って CSS 書いてみた <span class="arrow"></span></div>

  <div class="entry">
    <p>この記事は全体的に compass という SCSS のヘルパー？を使って生成してます。</p>
    <p>タイトル部分は最近はやりの bootstrap っぽくしてますが、実際はスクロール時に追随してこないので似非です。</p>
    <p>記事タイトル部分は http://coliss.com/articles/build-websites/operation/css/css-tutorial-fold-effect-without-images.html を使っております。パクリとも言います。</p>
  </div>
</div>

<div class="category">
  <div class="title">compass 使って CSS 書いてみた <span class="arrow"></span></div>

  <div class="entry">
    <p>この記事は全体的に compass という SCSS のヘルパー？を使って生成してます。</p>
    <p>タイトル部分は最近はやりの bootstrap っぽくしてますが、実際はスクロール時に追随してこないので似非です。</p>
    <p>記事タイトル部分は http://coliss.com/articles/build-websites/operation/css/css-tutorial-fold-effect-without-images.html を使っております。パクリとも言います。</p>
  </div>
</div>

<div class="category">
  <div class="title">compass 使って CSS 書いてみた <span class="arrow"></span></div>

  <div class="entry">
    <p>この記事は全体的に compass という SCSS のヘルパー？を使って生成してます。</p>
    <p>タイトル部分は最近はやりの bootstrap っぽくしてますが、実際はスクロール時に追随してこないので似非です。</p>
    <p>記事タイトル部分は http://coliss.com/articles/build-websites/operation/css/css-tutorial-fold-effect-without-images.html を使っております。パクリとも言います。</p>
    <p>この記事は全体的に compass という SCSS のヘルパー？を使って生成してます。</p>
    <p>タイトル部分は最近はやりの bootstrap っぽくしてますが、実際はスクロール時に追随してこないので似非です。</p>
    <p>記事タイトル部分は http://coliss.com/articles/build-websites/operation/css/css-tutorial-fold-effect-without-images.html を使っております。パクリとも言います。</p>
    <p>この記事は全体的に compass という SCSS のヘルパー？を使って生成してます。</p>
    <p>タイトル部分は最近はやりの bootstrap っぽくしてますが、実際はスクロール時に追随してこないので似非です。</p>
    <p>記事タイトル部分は http://coliss.com/articles/build-websites/operation/css/css-tutorial-fold-effect-without-images.html を使っております。パクリとも言います。</p>
    <p>この記事は全体的に compass という SCSS のヘルパー？を使って生成してます。</p>
    <p>タイトル部分は最近はやりの bootstrap っぽくしてますが、実際はスクロール時に追随してこないので似非です。</p>
    <p>記事タイトル部分は http://coliss.com/articles/build-websites/operation/css/css-tutorial-fold-effect-without-images.html を使っております。パクリとも言います。</p>
  </div>
</div>
<div class="category">
  <div class="title">compass 使って CSS 書いてみた <span class="arrow"></span></div>

  <div class="entry">
    <p>この記事は全体的に compass という SCSS のヘルパー？を使って生成してます。</p>
    <p>タイトル部分は最近はやりの bootstrap っぽくしてますが、実際はスクロール時に追随してこないので似非です。</p>
    <p>記事タイトル部分は http://coliss.com/articles/build-websites/operation/css/css-tutorial-fold-effect-without-images.html を使っております。パクリとも言います。</p>
    <p>この記事は全体的に compass という SCSS のヘルパー？を使って生成してます。</p>
    <p>タイトル部分は最近はやりの bootstrap っぽくしてますが、実際はスクロール時に追随してこないので似非です。</p>
    <p>記事タイトル部分は http://coliss.com/articles/build-websites/operation/css/css-tutorial-fold-effect-without-images.html を使っております。パクリとも言います。</p>
    <p>この記事は全体的に compass という SCSS のヘルパー？を使って生成してます。</p>
    <p>タイトル部分は最近はやりの bootstrap っぽくしてますが、実際はスクロール時に追随してこないので似非です。</p>
    <p>記事タイトル部分は http://coliss.com/articles/build-websites/operation/css/css-tutorial-fold-effect-without-images.html を使っております。パクリとも言います。</p>
    <p>この記事は全体的に compass という SCSS のヘルパー？を使って生成してます。</p>
    <p>タイトル部分は最近はやりの bootstrap っぽくしてますが、実際はスクロール時に追随してこないので似非です。</p>
    <p>記事タイトル部分は http://coliss.com/articles/build-websites/operation/css/css-tutorial-fold-effect-without-images.html を使っております。パクリとも言います。</p>
  </div>
</div>

<footer class='footer'>
  Category
</footer>
