@mixin line-top($op1: .2, $op2: .3) {
  border-top: 1px solid rgba(0, 0, 0, $op1);
  @include box-shadow(rgba(255, 255, 255, $op2) 0 1px 0 inset);
}

@mixin line-left($op1: .2, $op2: .3) {
  border-left: 1px solid rgba(0, 0, 0, $op1);
  @include box-shadow(rgba(255, 255, 255, $op2) -1px 0 0);
}

@mixin line-right($op1: .2, $op2: .3) {
  border-right: 1px solid rgba(0, 0, 0, $op1);
  @include box-shadow(rgba(255, 255, 255, $op2) -1px 0 0 inset);
}

@mixin line-bottom($op1: .2, $op2: .3) {
  border-bottom: 1px solid rgba(0, 0, 0, $op1);
  @include box-shadow(rgba(255, 255, 255, $op2) 0 1px);
}

@mixin gradient-top-lighten($color : #666, $lighten: 10%) {
  background-color: $color;
  @include filter-gradient(lighten($color, $lighten), $color, vertical);
  @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
}

@mixin gradient-top-darken($color : #666, $darken: 10%) {
  background-color: $color;
  @include filter-gradient(darken($color, $darken), $color, vertical);
  @include background-image(linear-gradient(darken($color, $darken) 0%, $color 100%));
}

@mixin box-deboss($border: .1, $shadow: .1, $highlight: 1) {
  border: 1px solid rgba(0,0,0,$border);
  @include box-shadow(rgba(0,0,0,$shadow) -1px 1px 2px inset, rgba(255,255,255,$highlight) -1px 1px 0);
}

@mixin box-emboss($border: .15, $shadow: .05, $highlight: 1){
  border: 1px solid rgba(0,0,0,$border);
  @include box-shadow(rgba(0,0,0,$shadow) -1px 1px 0, rgba(255,255,255,$highlight) -1px 1px 0 inset);
}
