// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass";
@import "compass/reset";

body {
  background-color: #fff;
  ///color: #fff;
  background-image: url(nasty_fabric.png);
}

h1 {
  font-size: 40px;
}

.zurui {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  @include box-shadow(rgba(255,255,255, .1) 0 1px 0);
}

.zurui-moji {
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  background-color: #f8f8f8;
}

.zurui-back {
  background-image: url(nasty_fabric.png);
}

.zurui-gra {
  background-color: #666;
  @include filter-gradient(lighten(#666, 10%), #666, vertical);
  @include background-image(linear-gradient(lighten(#666, 10%) 0%, #666 100%));
}

.zurui-maru {
  @include border-radius(6px);
  background-color: #f8f8f8;
  padding: 20px;
  margin: 10px;

  border: 1px solid rgba(0, 0, 0, .1);
  @include box-shadow(rgba(0, 0, 0, .1) -1px 1px 2px inset, rgba(255,255,255,1) -1px 1px 0);
}

.zurui-box {
  @include border-radius(6px);
  background-color: #f8f8f8;
  padding: 20px;
  margin: 10px;

  border: 1px solid rgba(0, 0, 0, .15);
  @include box-shadow(rgba(0, 0, 0, .5) -1px 1px 0, rgba(255,255,255,1) -1px 1px 0 inset);
}

.apply {
  padding: 20px;
  margin: 10px;

  // 角丸
  @include border-radius(6px);

  // グラデ
  background-color: #f8f8f8;
  @include filter-gradient(lighten(#f8f8f8, 10%), #f8f8f8, vertical);
  @include background-image(linear-gradient(lighten(#f8f8f8, 10%) 0%, #f8f8f8 100%));

  // box-shadow
  border: 1px solid rgba(0, 0, 0, .1);
  @include box-shadow(rgba(0, 0, 0, .1) 0 0 2px);

  font-weight: bold;
  color: green;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
}
