// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass";
@import "compass/reset";
@import "zurui";

body {
  //background-color: #f8f8f8;
  background-image: url(skelatal_weave.png);
}

header {
  background-color: #1F91BE;
  //@include gradient-top-lighten(#222, 20%);

  h1 {
    color: #fff;
    font-size: 100%;
    padding: 10px;
    text-shadow: -1px 1px 0 rgba(128,128,128,1);
    @include line-right;
    margin-right: 90%;
  }

}

footer.footer {
  background-color: #222;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  color: white;
}

.category {
  
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;

  background-color: #eee;

  border: 1px solid rgba(0, 0, 0, .1);
  @include box-shadow(rgba(0, 0, 0, .1) 0 0 2px);

  div.title {
    @include gradient-top-lighten(#c8c8c8);
    padding: 10px 20px;
    margin-left: -20px;
    margin-top: 20px;
    position: relative;
    width: 40%;
    font-size: 150%;

    @include box-shadow(#292929 1px 1px 3px);

    text-shadow: 0 1px 0 white;
    float: left;

    text-align: center;

    .arrow {
      width: 0;
      height: 0;
      line-height: 0;
      border-left: 20px solid transparent;
      border-top: 10px solid #292929;
      top: 104%;
      left: 0;
      position: absolute;
    }
  }

  .entry {
    //padding-top: 100px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    line-height: 150%;
  }

}

#info-content {

  @include border-radius(6px);
  background-color: #f8f8f8;
  padding: 20px;
  margin: 50px;
  margin-top: 10px;

  border: 1px solid rgba(0, 0, 0, .1);
  @include box-shadow(rgba(0, 0, 0, .1) 0 0 2px);
}

// index のテスト用

.zurui {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  @include box-shadow(rgba(255,255,255, .1) 0 1px 0);
}

.zurui-moji {
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
  background-color: #f8f8f8;
}

.zurui-back {
  background-image: url(nasty_fabric.png);
}

.zurui-gra {
  background-color: #666;
  @include filter-gradient(lighten(#666, 10%), #666, vertical);
  @include background-image(linear-gradient(lighten(#666, 10%) 0%, #666 100%));
}

.zurui-maru {
  @include border-radius(6px);
  background-color: #f8f8f8;
  padding: 20px;
  margin: 10px;

  border: 1px solid rgba(0, 0, 0, .1);
  @include box-shadow(rgba(0, 0, 0, .1) -1px 1px 2px inset, rgba(255,255,255,1) -1px 1px 0);
}

.zurui-box {
  @include border-radius(6px);
  background-color: #f8f8f8;
  padding: 20px;
  margin: 10px;

  border: 1px solid rgba(0, 0, 0, .15);
  @include box-shadow(rgba(0, 0, 0, .5) -1px 1px 0, rgba(255,255,255,1) -1px 1px 0 inset);
}

.apply {
  padding: 20px;
  margin: 10px;

  // 角丸
  @include border-radius(6px);

  // グラデ
  background-color: #f8f8f8;
  @include filter-gradient(lighten(#f8f8f8, 10%), #f8f8f8, vertical);
  @include background-image(linear-gradient(lighten(#f8f8f8, 10%) 0%, #f8f8f8 100%));

  // box-shadow
  border: 1px solid rgba(0, 0, 0, .1);
  @include box-shadow(rgba(0, 0, 0, .1) 0 0 2px);

  font-weight: bold;
  color: green;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
}

